<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # No reescribir archivos y directorios reales
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Reescribir solicitudes a index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
